# [Game]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Game]    Script Date: 19/03/2021 15:54:20 ******/
CREATE DATABASE [Game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Game', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Game_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [Game] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Game] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Game] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Game] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Game] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Game] SET ARITHABORT OFF 
GO
ALTER DATABASE [Game] SET AUTO_CLOSE ON 
GO
ALTER DATABASE [Game] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Game] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Game] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Game] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Game] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Game] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Game] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Game] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Game] SET  ENABLE_BROKER 
GO
ALTER DATABASE [Game] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Game] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Game] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Game] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Game] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Game] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Game] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Game] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [Game] SET  MULTI_USER 
GO
ALTER DATABASE [Game] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Game] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Game] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Game] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Game] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Game] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [Game] SET QUERY_STORE = OFF
GO

# [dbo].[Hero]

In [0]:
USE [Game]
GO

In [0]:
/****** Object:  Table [dbo].[Hero]    Script Date: 19/03/2021 15:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hero](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NULL,
	[Nome] [varchar](255) NULL,
	[Class] [varchar](250) NULL,
	[Score] [int] NULL,
	[LifePoint] [int] NULL,
	[Livello] [int] NULL,
 CONSTRAINT [PK__Hero__3214EC27B035C2D0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[LevelLifePointScore]

In [0]:
/****** Object:  Table [dbo].[LevelLifePointScore]    Script Date: 19/03/2021 15:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelLifePointScore](
	[Livello] [int] NOT NULL,
	[LifePoint] [int] NOT NULL,
	[Score] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Livello] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Player]

In [0]:
/****** Object:  Table [dbo].[Player]    Script Date: 19/03/2021 15:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[Admin] [bit] NULL,
 CONSTRAINT [PK__Player__3214EC2734BC1F5C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[RoleClasses]

In [0]:
/****** Object:  Table [dbo].[RoleClasses]    Script Date: 19/03/2021 15:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClasses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](40) NULL,
	[Class] [varchar](40) NULL,
	[Livello] [int] NULL,
	[WeaponName] [varchar](40) NULL,
	[DamagePoint] [int] NULL,
 CONSTRAINT [PK__RoleClas__3214EC2730303AA4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[StatisticsMatch]

In [0]:
/****** Object:  Table [dbo].[StatisticsMatch]    Script Date: 19/03/2021 15:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatisticsMatch](
	[PlayerID] [int] NOT NULL,
	[HeroName] [varchar](29) NULL,
	[MatchNumber] [int] NOT NULL,
	[Winnings] [int] NOT NULL,
	[MatchTime] [time](7) NULL
) ON [PRIMARY]
GO

# [dbo].[Hero]

In [0]:
SET IDENTITY_INSERT [dbo].[Hero] ON 
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (4, 2, N'Xena', N'Guerriero', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (8, 1, N'Serpent', N'Mago', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (9, 0, N'Angelo', N'Mago', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (10, 7, N'Sparaco', N'Guerriero', 20, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (13, 0, N'foofie', N'Mago', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (15, 1, N'Marione', N'Guerriero', 0, 8, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (16, 0, N'Libellula', N'Mago', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (17, 1, N'Marione2.0', N'Guerriero', 90, 80, 4)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (18, 0, N'Miao', N'Guerriero', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (20, 0, N'4', N'Guerriero', 0, 20, 1)
INSERT [dbo].[Hero] ([ID], [PlayerID], [Nome], [Class], [Score], [LifePoint], [Livello]) VALUES (22, 0, N'Amelia', N'Guerriero', 0, 20, 1)
SET IDENTITY_INSERT [dbo].[Hero] OFF
GO

# [dbo].[LevelLifePointScore]

In [0]:
INSERT [dbo].[LevelLifePointScore] ([Livello], [LifePoint], [Score]) VALUES (1, 20, 0)
INSERT [dbo].[LevelLifePointScore] ([Livello], [LifePoint], [Score]) VALUES (2, 40, 30)
INSERT [dbo].[LevelLifePointScore] ([Livello], [LifePoint], [Score]) VALUES (3, 60, 60)
INSERT [dbo].[LevelLifePointScore] ([Livello], [LifePoint], [Score]) VALUES (4, 80, 90)
INSERT [dbo].[LevelLifePointScore] ([Livello], [LifePoint], [Score]) VALUES (5, 100, 120)
GO

# [dbo].[Player]

In [0]:
SET IDENTITY_INSERT [dbo].[Player] ON 
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (1, N'Tiziana', 1)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (2, N'Giovanna', 1)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (3, N'Isa', 1)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (6, N'Angelo', 0)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (7, N'Marco', 0)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (8, N'Marcos', 0)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (9, N'isaby', 0)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (10, N'Fabio', 0)
INSERT [dbo].[Player] ([ID], [Nome], [Admin]) VALUES (14, N'Miao', 0)
SET IDENTITY_INSERT [dbo].[Player] OFF
GO

# [dbo].[RoleClasses]

In [0]:
SET IDENTITY_INSERT [dbo].[RoleClasses] ON 
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (1, N'Eroe', N'Guerriero', 1, N'Scettro Infuocato', 4)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (2, N'Eroe', N'Mago', 1, N'Bacchetta lunare', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (3, N'Eroe', N'Mago', 1, N'Bacchetta Solare', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (4, N'Eroe', N'Mago', 1, N'Occhio bianco', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (5, N'Eroe', N'Mago', 2, N'Pietra Magica', 4)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (6, N'Mostro', N'Cultista', 1, N'Anello Diabolico', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (7, N'Mostro', N'Cultista', 2, N'Diamande luminoso', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (8, N'Mostro', N'Orco', 1, N'Denti Affamati', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (9, N'Mostro', N'Orco', 2, N'Lancia infuocata', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (10, N'Mostro', N'Signore Del Male', 2, N'Scettro Diabolico', 4)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (11, N'Mostro', N'Signore Del Male', 3, N'Occhio che tutto vede', 5)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (13, N'Eroe', N'Guerriero', 1, N'Freccia avvelenata', 10)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (14, N'Eroe', N'Guerriero', 1, N'Bastone Infuocato', 10)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (15, N'Eroe', N'Guerriero', 1, N'Giavelotto Infuocato', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (16, N'Eroe', N'Mago', 1, N'Bacchetta lunare', 9)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (17, N'Eroe', N'Mago', 1, N'Bacchetta Solare', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (18, N'Eroe', N'Guerriero', 2, N'Lancia Infuocato', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (19, N'Eroe', N'Guerriero', 2, N'Piede puzzone', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (20, N'Eroe', N'Mago', 3, N'Cruciatus', 8)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (21, N'Eroe', N'Mago', 3, N'Cappello oracolo', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (22, N'Eroe', N'Guerriero', 3, N'Scettro Infuocato', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (23, N'Eroe', N'Guerriero', 3, N'Piede Infuocato', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (24, N'Eroe', N'Mago', 4, N'Freccia nel cuore', 8)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (25, N'Eroe', N'Mago', 4, N'Cerbottanavelenosa', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (26, N'Eroe', N'Guerriero', 4, N'Scettro Infuocato', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (27, N'Eroe', N'Guerriero', 4, N'Scettro d acqua', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (28, N'Eroe', N'Mago', 5, N'Imperius', 8)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (29, N'Eroe', N'Mago', 5, N'Maldizione Mortale', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (30, N'Eroe', N'Guerriero', 5, N'Scettro Infuocato', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (31, N'Eroe', N'Guerriero', 5, N'Scettro di Marte', 7)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (32, N'Mostro', N'Cultista', 1, N'Anello Diabolico', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (33, N'Mostro', N'Cultista', 2, N'Diamande luminoso', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (34, N'Mostro', N'Orco', 1, N'Denti Affamati', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (35, N'Mostro', N'Orco', 2, N'Lancia infuocata', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (36, N'Mostro', N'Signore Del Male', 1, N'Scettro Diabolico', 4)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (37, N'Mostro', N'Signore Del Male', 2, N'Occhio che tutto vede', 5)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (38, N'Mostro', N'Cultista', 1, N'Anello Diabolico', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (39, N'Mostro', N'Cultista', 2, N'Diamande luminoso', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (40, N'Mostro', N'Orco', 3, N'Denti Affamati', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (41, N'Mostro', N'Orco', 4, N'Lancia infuocata', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (42, N'Mostro', N'Signore Del Male', 3, N'Scettro Diabolico', 4)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (43, N'Mostro', N'Signore Del Male', 4, N'Occhio che tutto vede', 5)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (44, N'Mostro', N'Cultista', 3, N'Anello Diabolico', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (45, N'Mostro', N'Cultista', 4, N'Diamande luminoso', 2)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (46, N'Mostro', N'Orco', 1, N'Denti Affamati', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (47, N'Mostro', N'Orco', 2, N'Lancia infuocata', 3)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (48, N'Mostro', N'Signore Del Male', 3, N'Scettro Diabolico', 4)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (49, N'Mostro', N'Signore Del Male', 4, N'Occhio che tutto vede', 5)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (50, N'Mostro', N'Robot', 5, N'ZICZAC', 10)
INSERT [dbo].[RoleClasses] ([ID], [Role], [Class], [Livello], [WeaponName], [DamagePoint]) VALUES (51, N'Mostro', N'robot', 5, N'ziczac', 5)
SET IDENTITY_INSERT [dbo].[RoleClasses] OFF
GO

# [FK_LevelLifePointScore_LevelLifePointScore]

In [0]:
ALTER TABLE [dbo].[LevelLifePointScore]  WITH CHECK ADD  CONSTRAINT [FK_LevelLifePointScore_LevelLifePointScore] FOREIGN KEY([Livello])
REFERENCES [dbo].[LevelLifePointScore] ([Livello])
GO
ALTER TABLE [dbo].[LevelLifePointScore] CHECK CONSTRAINT [FK_LevelLifePointScore_LevelLifePointScore]
GO

# [Game]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Game] SET  READ_WRITE 
GO